
/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/

/* category
-----------------------------------------------------------------*/
.category {
	margin-bottom: 2.875rem;

	ul {
		li {
			padding: 0.3rem 0;
			border-bottom: 1px solid #f4f4f4;

			a {
				font-size: 0.875rem;
				text-transform: uppercase;
				color: $dark;

				@include transition(all 0.5s ease-in-out);

				img {
					opacity: 0;
				}

				&:hover {
					color: $theme-color;

					img {
						opacity: 1;
					}
				}
			}
		}
	}
}


/* Product
-----------------------------------------------------------------*/
.product {
	position: relative;
	padding: 0.75rem;
	padding-bottom: 0;
	border: 1px solid #f7f7f7;
	background-color: $white;
	margin-bottom: 0.875rem;

	.border-bottom {
		border-color: #f7f7f7 !important;
	}

	.product-image {
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			margin: auto;
		}
	}

	.product-details {
		padding: 1.5rem 1rem;
		z-index: 1;
	}

	.product-price {
		font-family: $heading-font;
		font-weight: 500;
		font-size: 1.5rem;
		color: $dark;

		del {
			font-size: 0.75rem;
			font-family:  $body-font;
			font-weight: 400;
			color: #c5c5c5;
			margin-left: 0.25rem;
		}
	}

	.product-title {
		font-family: $body-font;
		font-size: 0.875rem;
		font-weight: 400;
		text-transform: uppercase;
	}

	.product-rating {
		line-height: 1;
		font-size: 0.875rem;
		color: #b3b2b0;

		i {
			color: #ff893f;
			font-size: 0.65rem;

			&.empty {
				color: rgba(#ff893f, 0.5);
			}
		}
	}

	.product-btns {
		@include transition(all 0.5s ease-in-out);
	}

	&:hover {
		.add-to-wishlist {
			color: #f07a5d;
		}
	}
}

.add-to-cart, .add-to-wishlist {
	font-size: 1.2rem;
}	

.add-to-wishlist {
	color: #eaeaea;
}

.add-to-cart {
	color: $dark;
}

.onbest, .onsale, .onhit, .ontop {
	white-space: nowrap;
    position: absolute;
    padding: 5px 40px;
    min-width: 2rem;
    transform: rotate(329deg) translate(-37%,0);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    top: -1rem;
    left: 0.1rem;
    box-sizing: border-box;
    line-height: 1;
    font-size: .875rem;
    color: #fff;
    text-transform: uppercase;
}

.onbest {
	background-color: #4dbbe9;
}

.onsale {
	background-color: #ed5b37;
}

.onhit {
	background-color: #91d749;
}

.ontop {
	background-color: #7563fb;
}

.ads {
    position: relative;
    display: block;
	margin-bottom: 1.5rem;

    .ads-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .ads-bg-img {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .ads-body {
        position: relative;
        z-index: 1;
    }

	&.ads1 {
		min-height: 25.5rem;
	}

	&.ads2 {
		.ads-body {
			padding: 6.85rem 4rem;
	
			h3 {
				line-height: 1.2;
			}
		}
	}
}
