
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
    border-bottom: 1px solid #dadedf;
	padding: 0.75rem 0;

	span {
		font-size: 0.75rem;
		font-weight: 300;
		color: #c3c6cf;
	}

	a {
		color: $dark;		
		font-size: 1.3125rem;
		font-weight: 300;
		letter-spacing: 0.1rem;
	}

	p {
		font-weight: 300;
		color: #a4a7b4;
		line-height: 1;
	}
}